@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Color variables */
    --green-dark: rgba(25, 107, 61, 1);
    --green-medium: rgba(35, 149, 84, 1);
    --green-medium-light: rgba(45, 190, 107, 1);
    --green-light: rgba(73, 212, 133, 1);
    --green-light-thin: rgba(115, 222, 161, 1);
    --green-medium-fade: rgba(156, 232, 189, 1);
    --green-fade: rgba(197, 241, 216, 1);

    /* font variables */
    --nunito-sans: "Nunito Sans", sans-serif;

    /* Size variables */
    --draft-editor-space: 30%;
}
